
<!-- <h1 style="color: yellow;">Transações</h1>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let transacao of transacoes">
      <strong>Aluno:</strong> {{ transacao?.aluno.nome }}<br>
      <strong>Professor:</strong> {{ transacao?.professor.nome }}<br>
      <strong>Valor da transação:</strong> {{ transacao?.creditos }}<br>
    </li>
  </ul> -->
  <h1 style="color: yellow;">Transações</h1>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let transacao of transacoes">
      <strong>Data:</strong> {{ transacao?.data | date : 'dd/MM/yyyy HH:mm'}}<br>
      <strong>Aluno:</strong> {{ transacao?.aluno.nome }}<br>
      <strong>Professor:</strong> {{ transacao?.professor.nome }}<br>
      <strong>Valor da transação:</strong> {{ transacao?.valor }}<br>
    </li>
  </ul>

  <div class="alert alert-light col-4 offset-4 mt-4 " role="alert">
    <strong style="color: black;">total de créditos {{ user.creditos }} </strong>
  </div>
