<div class="container">
    <div class="title">
        <mat-icon class="icon-display" style="color:yellow">monetization_on</mat-icon>
        <h1>Moeda Estudantil</h1>
        <h2>Você já possui uma conta?</h2>
    </div>
    <div class="login">
        <a type="button" class="btn btn-warning btn-lg" href="/login">Entrar</a>
        <a type="button" class="btn btn-warning btn-lg" href="/criar">Criar Aluno</a>
        <a type="button" class="btn btn-warning btn-lg" href="/criarFuncionario">Criar Empresa</a>
    </div>
</div>

