<div class="container">
  <div class="row">
    <div class="col-4 offset-3 m-2">
      <a style="color: yellow;" class="voltar" href="/home"><mat-icon>arrow_back_ios</mat-icon>Voltar</a>
      <h1 style="color: yellow;">Parceiros</h1>
    </div>
  </div>
  <div class="row">
    <!-- <div *ngFor="let contrato of contratos"> -->
    <div class="col-4 m-2">

      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Contrato
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Nome: </li>
          <li class="list-group-item">CNPJ: </li>
          <li class="list-group-item">E-mail: </li>
          <li class="list-group-item">Instituição: </li>

          <li class="list-group-item">
          </li>
        </ul>
      </div>

      <!-- </div> -->
    </div>

  </div>
</div>
