.list-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .list-group-item {
    flex-basis: calc(50% - 10px);
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30% !important;
  }
  
  
  h1 {
    color: #ffcc00;
    text-align: center;
  }
  
  strong {
    color: #666;
  }
  
  .topo {
    text-align: center;
    margin-bottom: 20px;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    display: flex;
    flex-direction: column; 
    height: 60%;
  }
  
  .modal.modal-aberto {
    visibility: visible;
    opacity: 1;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    list-style-type: none;
    max-width: 400px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .modal h2 {
    margin-top: 0;
  }
  
  .modal form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }